<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>四笔社区</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/community.css" rel="stylesheet">
<script src=" /bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
		  <h1>出错啦！！</h1>
		  <p th:text="${message}">服务器使用太过火爆，请稍等一会再试！</p>
		  <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
		</div>
</body>
</html>